<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466624784743-00joui9r559c5pe0u4urq2346hrluppc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466624784743-00joui9r559c5pe0u4urq2346hrluppc</string>
	<key>API_KEY</key>
	<string>AIzaSyBkuahvYyzhibenAUan-cVYemefeNp3Quo</string>
	<key>GCM_SENDER_ID</key>
	<string>466624784743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grapcoin.co</string>
	<key>PROJECT_ID</key>
	<string>grapcoin-c5828</string>
	<key>STORAGE_BUCKET</key>
	<string>grapcoin-c5828.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466624784743:ios:e4bb8957f02556c5c8e7c2</string>
</dict>
</plist>